.navbar {
    width: 100%;
    height: 3rem;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 12vw;
    position: fixed;
    top: 0px;

    /* Semi-transparent background */
    /* backdrop-filter: blur(30px); */
    /* Apply a 10px blur effect */
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    /* Semi-transparent white background */
    /* filter: blur(40px); */
    /* Apply blur effect */
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent white background */
    backdrop-filter: blur(40px);
    /* Apply backdrop blur effect */
    -webkit-backdrop-filter: blur(30px);
    z-index: -1;
}

#mnubtn {
    cursor: pointer;
}

.navbar .left {
    font-weight: 400;
    font-size: 1.6rem;
}

@media (max-width:1150px) {
    .navbar .right i {
        font-weight: 400;
        font-size: 2rem;
        color: black;


    }

    .navbar .right {
        display: flex;
        align-items: center;
        position: relative;
    }

    .navbar .right .menu {

        position: absolute;
        top: 50px;
        left: -95px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 10px;
        border-radius: 14px;
        background: #ffffff8e;
        box-shadow: 34px 34px 68px #b8b8b8,
            -34px -34px 68px #ffffff;

    }

    .navbar .right .menu::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(146, 137, 137, 0.834);
        /* Semi-transparent white background */
        /* filter: blur(40px); */
        /* Apply blur effect */
        background-color: rgba(255, 255, 255, 0.1);
        /* Semi-transparent white background */
        backdrop-filter: blur(10px);
        /* Apply backdrop blur effect */
        -webkit-backdrop-filter: blur(30px);
        z-index: -1;
        border-radius: 14px;
    }

    .navbar .right .menu a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.d-none {
    display: none !important;
}

@media (min-width:1150px) {
    .navbar .right .menu {
        display: flex;
        gap: 3vw;
    }

    .navbar .right .menu a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 1.5rem;
        position: relative;
        transition: all;
        transition-duration: 0.3s;
        outline: none;
    }

    .navbar .right .menu a:hover {
        transform: translateY(-3px);
    }

    .navbar .right .menu a::before {
        content: '';
        width: 0%;
        height: 0px;
        position: absolute;
        bottom: 0px;
        transition: all;
        transition-duration: 0.3s;

    }

    .navbar .right .menu a:hover::before {
        width: 100%;
        border: 0.5px solid black;
    }

    .navbar .right i {
        display: none;
    }
}