.sec2 {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9vw;
    justify-content: center;
}

.minihd {
    color: #555555;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.mainhd {
    color: black;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
}

.sec2 .aboutcont {
    width: 100%;
    height: 400px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

.sec2 .aboutcont img {
    width: 30vw;
    height: 27vw;
    border-radius: 25px;
}

.sec2 .aboutcont .about {
    width: 460px;
    height: 100%;


}

.sec2 .aboutcont .about .top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec2 .aboutcont .about .bottom {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #555555;
    font-size: 16px;
    margin-top: 1.5rem;
    text-align: justify;
}

.exp-edu {
    width: 47%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 25px;
}

.exp-edu img {
    width: 50px;
    height: 50px;

}

.exp-edu h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.exp-edu p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #555555;
    font-size: 14px;
}



@media (max-width:1150px) {
    .sec2 {
        margin-top: 10vw;
    }

    .sec2 .aboutcont {
        flex-direction: column;
        height: fit-content;
    }

    .sec2 .aboutcont .about {
        width: 100%;
        height: fit-content;
        padding: 2rem;
        gap: 3rem;

    }

    .sec2 .aboutcont .about .top {
        padding: 0px;



    }

    .sec2 .aboutcont img {
        width: 340px;
        height: 340px;
        border-radius: 25px;
    }



}

@media (max-width:400px) {
    .sec2 {
        padding: 0px;
    }

    .sec2 .aboutcont {
        padding: 0px;

    }
}

