
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

bodY {
    padding-top: 6rem;
}

section {
    margin-top: 4vw;
}

.sec5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 1rem;
    gap: 1rem;

}

.sec5 .contactBox {
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 25px;
    gap: 3vw;


}

.sec5 .contactBox div {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.sec5 .contactBox div i {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 0.3rem;
    border-radius: 50%;
}

.sec5 .contactBox div a {
    text-decoration: none;
    color: black;
    position: relative;
}

.sec5 .contactBox div a:hover {
    opacity: 0.8;
}

.sec5 .contactBox div a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    transition: all;
    transition-duration: 0.3s;
}

.sec5 .contactBox div a:hover::before {
    border: 1px solid black;
    width: 100%;
    opacity: 0.7;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 1rem;

}

footer p {
    font-size: 1rem;
    padding-top: 2rem;
    color: #555555;
}

footer .options {
    display: flex;
    gap: 1.7rem;
    padding-top: 2vw;
}

footer .options a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 300;
    transition: all;
    transition-duration: 0.3s;
}

footer .options a:hover {
    transform: translateY(5px);
}

.sec5 p {
    font-size: 1.3rem;
    padding-top: 2rem;
    color: #555555;
}

@media (max-width:540px) {
    .sec5 .contactBox {
        padding: 0.5rem;
        flex-direction: column;
        width: 80%;
        gap: 1vw;


    }

    footer .contactBox div {

        gap: 0.6rem;
    }

    footer .options {
        display: flex;
        gap: 0.3rem;
        padding-top: 2vw;
        flex-direction: column;
        align-items: center;
    }

    footer .options a {
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        font-weight: 300;
        transition: all;
        transition-duration: 0.3s;
    }

    .sec5 p {
        font-size: 1rem;
        padding-top: 1.4rem;
        color: #555555;
        text-align: center;
    }

    footer p {
        font-size: 1rem;
        padding-top: 1.4rem;
        color: #555555;
        text-align: center;
    }
}
